@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/* Navbar */
.navbar{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #660d3e;
}
.nav-links{
  display: flex;
  align-items: center;
  color: #A4031F;
}
.nav-links li{
  margin: 0 30px;
}
header{
  width: 100vw;
  height: 100vh;
  background-image: url('images/home.webp');
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content{
  margin-bottom: 150px;
  color: #A4031F;
  text-align: center;
}
.header-content h2{
  font-size: 4vmin;
}

.header-content h1{
  font-size: 7vmin;
  margin-top: 20px;
  margin-bottom: 30px;
}
.ctn{
  padding: 8px 15px;
  background: red;
  border-radius: 30px;
  color: whitesmoke;
}
.menu-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  color: black;
  display: none;
}

/* Mobile device */ 
@media only screen and (max-width:850px){
  .navbar{
    padding: 0;
  }
  .logo{
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav-links{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: -900px;
    transition: all 0.5s ease;
  }
  .mobile-menu{
    margin-top: 0px;
  }
  .nav-links li{
    margin: 30px auto;
  }
}